.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map {
  display: inline-block;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border: 1px solid black;
}

.cell.M {
  background-color: #904706;
}

.cell.T {
  background-color: #ffbe33;
  z-index: 1;
}

.cell.A {
  background-color: #03b0c2;
  z-index: 2;
}

button {
  all: unset;
  width: fit-content;
  background: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #cbcaca;
  }
}
